.header {
	background-color: #fff;
}
/* Header Inner */
.header .header-inner {
	background-repeat: repeat-y;
	background-position: center;
	position: relative;
}
.header .header-inner::before {
	opacity: 0.95;
	background: #fff;
}
/* Logo */
.header .logo {
	float: left;
	margin-top: 30px;
}
.header .logo a {
	font-size: 25px;
}
.header .menu-bar {
	position: relative;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	position: relative;
	padding: 0;
	float: right;
	padding-right: 50px;
}
.header .navbar-nav {
	display: block;
}
.header .nav li {
	float: left;
	position: relative;
	margin-right: 25px;
}
.header .nav li:last-child{
	margin-right:0px;
}
.header .nav li a {
	color: #252525;
	font-size: 14px;
	text-transform: uppercase;
	padding: 30px 0px;
	display: block;
	position: relative;
}
.header .nav li a::before {
	content: "";
	position: absolute;
	height: 2px;
	left: 50%;
	bottom: 17px;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	border-radius: 30px;
	right: 50%;
}
.header .nav li:hover a::before,
.header .nav li.active a::before {
	opacity: 1;
	visibility: visible;
	left: 25%;
	right: 25%;
}
.header .nav li a::after {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: 13px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.header .nav li:hover a::after,
.header .nav li.active a::after {
	opacity: 1;
	visibility: visible;
}
.header .nav li a i {
	margin-right: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
}
.header .nav li.active a i,
.header .nav li:hover a i{
	opacity:1;
	visibility:visible;
}
/* Dropdown Menu */
.header .nav li .dropdown {
	background: #fff;
	width: 225px;
	position: absolute;
	left: 0;
	z-index: 99;
	opacity: 0;
	-webkit-box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	transform: scaleY(0);
	transform-origin: 0 0 0;
	border-top: 2px solid;
	top: 100%;
	padding: 15px 0;
}

.header .nav li:hover .dropdown{
	transform: scaleY(1);
	opacity:1;
	visibility:visible;
}

.header .nav li .dropdown li{
	float:none;
	margin:0;
}
.header .nav li .dropdown li a {
	padding: 5px 20px;
	color: #555;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
}
.header .nav li .dropdown li a:before,
.header .nav li .dropdown li a:after{
	display:none;
}
.header .nav li .dropdown li i {
	float: right;
	margin-top: 6px;
}

/*===============================
	START SPINNER
=================================*/
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    display: none;
}


/*===============================
	Slider CSS 
=================================*/

.slider-image {
	max-width: 100%;
	max-height: 100%;
}


.home-slider{
	overflow:hidden;
}
.home-slider,
.home-slider .single-slider{
	height: 550px;
}

.home-slider .single-slider::before {
	opacity: 0.7;
	z-index: 1;
}
.home-slider .slider-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
}
/* Slider Zoom Effect */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@-moz-keyframes zoom {
  from {
    -moz-transform: scale(1, 1);
  }

  to {
    -moz-transform: scale(1.2, 1.2);
  }
}

@-o-keyframes zoom {
  from {
    -o-transform: scale(1, 1);
  }

  to {
    -o-transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.2, 1.2);
  }
}
.home-slider .slider-content {
	display: inline-block;
	border-radius: 3px;
	position: relative;
	z-index: 2;
	margin: 158px 0 0;
}
.home-slider .slider-title {
	font-size: 50px;
	font-weight: 800;
	color: #fff;
	padding: 30px;
	display: inline-block;
}
.home-slider .slider-title span {
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
.home-slider .slider-title b {
	font-weight: 400;
}
.home-slider .slider-text {
	font-size: 15px;
	background: #fff;
	color: #555;
	padding: 30px;
	display: inline-block;
}
.home-slider .button {
	margin-top: 20px;
}
.home-slider .button .btn {
	margin-right: 15px;
	position: relative;
	z-index: 2;
}
.home-slider .button .btn:last-child{
	margin:0;
}
/* Slider Animation */
/*===============================
	End Slider CSS 
=================================*/

/*===============================
	Courses CSS
=================================*/
.courses {
	background: #f8f8f8;
}
.courses .single-course {
	padding: 12px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-top: 30px;
}
.courses .single-course:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}
.courses .course-head{
	position:relative;
	overflow:hidden;
}
.courses .course-head::before {
	opacity: 0;
	visibility: hidden;
	z-index: 5;
}
.courses .course-head img{
	height:100%;
	width:100%;
}
.courses .course-head:hover img{
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	transform:scale(1.3);
}
.courses .course-head:hover:before{
	opacity:0.8;
	visibility:visible;
}
.courses .course-head a {
	position: absolute;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 10;
	border-radius: 0px;
	left: 50%;
	font-weight: 500;
	text-transform: capitalize;
	margin-left: -58px;
	padding: 12px 22px;
	opacity:0;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	transform:scale(0);
	border-radius: 50px;
}

@media (min-width:768px) and (max-width: 1024px) {

	.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	position: relative;
	padding: 0;
	float: right;
	padding-right: 10px;
}

/* Selector para el enlace con clase "logo-link" */
.logo a {
	font-size: 10px; /* Ajusta el valor del font-size según tus preferencias */
  }
  
}


.courses .course-head:hover .btn{
	transform: scale(1);
	opacity: 1;
}
.courses .course-body {
	margin: 15px;
	margin-top: 0px;
}
.courses .name-price {
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 333;
	margin-top: -33.5px;
}
.courses .name-price .teacher-info {
	display: inline-block;
}
.courses .teacher-info img {
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100%;
	display: inline-block;
	border: 4px solid #fff;
	float: left;
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}
.courses .single-course .teacher-info:hover img{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
.courses .teacher-info .title {
	font-weight: 500;
	padding: 10px;
	color: #fff;
	border-radius: 30px;
	position: absolute;
	left: 0;
	bottom: -43px;
	z-index: 33;
	font-size: 13px;
	-webkit-transform:translateX(-30px);
	-moz-transform:translateX(-30px);
	transform:translateX(-30px);
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.courses .teacher-info:hover .title{
	transform:translateX(0px);
	opacity:1;
	visibility:visible;
}
.courses .teacher-info .title::before {
	content: "";
	border-bottom: 12px solid;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
}
/* Price */
.courses .price {
	color: #fff;
	padding: 5px 25px;
	font-weight: 700;
	position: relative;
	margin-top: 12px;
	float: right;
	border-radius: 50px;
	right: 0;
}

.courses .course-body .c-title {
	font-size: 20px;
	text-align: left;
	margin: 5px 0 15px;
}

.cardcauses{
margin-top: -110px;
}
.contenidotitle{
	margin-top: 10px;
}
.courses .course-body .c-title a {
	color: #252525;
	font-weight: 700;
}
.courses .course-body p {
	color: #666;
}
/* Rattings */
/* Course Info */
/* Slider Meta */
/* Courses Archive */
.courses.archive{
	padding:60px 0 90px;
}
.courses.archive .single-course {
	margin: 30px 0 0;
}
/*===============================
	End Courses CSS
=================================*/

/*===============================
	Features CSS 
=================================*/
/*===============================
	End Features CSS 
=================================*/

/*===============================
	Register Today CSS
=================================*/
/* Register Form */
/*===============================
	End Register Today CSS
=================================*/

/*===============================
	Teachers CSS 
=================================*/
.teachers {
	background: #fff;
}
.teachers .social {
	width: 45px;
	position: absolute;
	top: 15px;
	text-align: center;
	padding: 15px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	left: 15px;
	z-index: 2;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.teachers .social li {
	display: block;
	margin-bottom: 10px;
}
.teachers .social li:last-child{
	margin:0;
}
.teachers .social li a {
	color: #fff;
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 100%;
}
.teachers .social li a:hover{
	border-color:transparent;
	background:#fff;
}
/* Slider Meta */
/* Archive */
.teachers.archive{}
/*===============================
	End Teachers CSS 
=================================*/

/*===============================
	Events CSS 
=================================*/
.events{
	background:#F8F8F8;
}
 .coming-event {
	margin-top: 30px;
}
.coming-event {
	padding-left: 35px;
}
.events .single-event {
	background: #fff;
	position: relative;
	margin-left: 0;
	padding: 30px 20px 30px 60px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.events .single-event:last-child{
	margin:0;
}
.events .event-date {
	position: absolute;
	left: -35px;
	width: 70px;
	text-align: center;
	top: 50%;
	margin-top: -35px;
	padding: 10px 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.events .single-event:hover .event-date {
	border-radius:100%;
}
.events .event-date p {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.events .single-event:hover .event-date p{
	font-size:25px;
}
.events .event-date p span {
	display: block;
	font-size: 14px;
	font-weight:500;
}
.events .event-title {
	font-size: 18px;
	margin-bottom: 10px;
}
.events .event-title a {
	font-weight: 700;
	color: #252525;
}
/* Events Archive */
.events.archive{}
.events.archive .single-event {
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 0px;
}
.events.archive .event-date {
	top: 5px;
	margin: 0;
	left: 5px;
}
.events.archive .event-content{
	margin-top: 20px;
}


/*===============================
	End Events CSS 
=================================*/

/*===============================
	Call to Action CSS 
=================================*/
.cta {
	padding-top: 62px;
	background: #F8F8F8;
}
.cta .cta-inner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.cta .text-content {
	background: transparent;
	z-index: 333;
	position: relative;
	border-radius: 5px;
}
.cta .text-content h2 {
	font-size: 35px;
	margin-bottom: 20px;
	color: #fff;
}
.cta .text-content h2 span {
	font-weight: 500;
	font-style: italic;
	border-bottom: 2px solid;
}
.cta .text-content p{
	color:#eee;
}
.cta .button {
	margin-top: 20px;
}
.cta .button .btn {
	margin-right: 15px;
}
.cta .button .btn:last-child{
	margin:0;
}
.cta .cta-image {
	position: absolute;
	right: 0;
	top: -152px;
}
/*===============================
	End Call to Action CSS 
=================================*/


/*=============================
	Faqs CSS
===============================*/
.faqs{
	background: #f8f8f8;
}
.faqs .faq-image,
.faqs .faq-main{
	margin-top:30px;
}
.faqs .text-content {
	text-align: left;
	padding: 0 60px 0 0;
	margin-bottom:30px;
}
.faqs .panel-group{
	margin: 0;
	text-align:left;
}
.faqs .panel {
	background: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border: none;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.faqs .panel:last-child{
	margin:0;
}
.faqs .faq-title a {
	padding: 15px;
	font-size: 15px;
	position: relative;
	color: #252525;
	background: #fff;
	width: 100%;
	display: block;
	font-weight: 700;
}
.faqs .panel.active .faq-title a {
	text-decoration: none;
	color: #fff;
}
.faqs .panel .faq-title a i {
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 100%;
	width: 28px;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
}
.faqs .panel.active .faq-title a i{
	border-color:#fff;
}
.faqs .faq-body {
	padding: 25px;
	color: #555;
	font-size: 14px;
	line-height: 24px;
	background: #fff;
}

.clients {
	padding: 35px 0;
}
.clients::before {
	opacity: 0.95;
}
.clients .text-content h4 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #fff;
}
.clients .text-content p {
	color: #f8f8f8;
	line-height: 22px;
}
.clients .client-slider {
	margin-top: 20px;
}
.clients .client-slider a{
	display:block;
}
.clients .single-slider img {
	cursor: pointer;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.clients .single-slider img:hover{
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	transform:scale(0.9);
}
/*=============================
	End Clinets Slider CSS
===============================*/

/*======================================
	Others CSS
========================================*/
#scrollUp {
	right: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	z-index: 33;
	bottom: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	color: #ffff;
	font-size: 18px;
	border-radius: 100%;
	font-size: 18px;
}
#scrollUp:hover{
	color:#fff;
	bottom:15px;
}
/* Breadcrumbs CSS */
.breadcrumbs {
	background-position: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
}
.breadcrumbs h2 {
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	margin-top: 5px;
}
.breadcrumbs p {
	color: #ccc;
	margin-top: 5px;
}
.breadcrumbs .bread-list {
	background: rgba(255, 255, 255, 0.15);
	display: inline-block;
	padding: 10px 25px;
	float: right;
}
.breadcrumbs ul li {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
.breadcrumbs ul li:last-child{
	margin:0;
}
.breadcrumbs ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
}
.breadcrumbs ul li.active a {
	color: #fff;
	padding: 7px 20px;
	display: inline-block;
}
.breadcrumbs ul li.active a:hover{
	background:#fff;
	color:#20232E;
}
.breadcrumbs ul li i {
	margin-left: 5px;
}
/*======================================
	End Others CSS
========================================*/

/*=============================
	Footer CSS
===============================*/
.footer {
	background: #20232E;
	padding: 0;
}
.footer .footer-top {
	padding: 60px 0 90px;
	background-image: url('images/slider/1.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.footer .footer-top:before{
	opacity:0.9;
}
.footer a, .footer p {
	font-weight: 400;
	color: #ccc;
	line-height: 22px;
}
.footer .single-widget{
	margin-top:30px;
}
.footer .single-widget h2 {
	font-size: 16px;
	margin-bottom: 25px;
	color: #fff;
	position: relative;
}
.footer .about p {
	margin-top: 20px;
}
/* List */
.footer .list li {
	line-height: 35px;
	color: #ccc;
}
.footer .list li a {
	color: #ccc;
}
.footer .list li i {
	margin-right: 15px;
}
/* Social */
.footer .social {
	margin-top: 20px;
}
.footer .social li {
	display: inline-block;
	margin-right: 5px;
}
.footer .social li:last-child{
	margin:0;
}
.footer .social li a {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	font-size: 13px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}
.footer .social li:hover a,
.footer .social li.active a{
	color:#fff;
}
/* Opening Times */
/* Newsletter Widget */
.footer-bottom {
	background: #121212;
	padding: 20px 0;
}
.footer .copyright {
	text-align: center;
}
.footer .copyright p {
	color: #aaa;
}
.footer .copyright a:hover{
	color:#fff;
}
/*=============================
	End Footer CSS
===============================*/